.img {
  border-radius: 10px;
  width: 35%;
  height: 75%;
  margin-top: 20px;
}
.trackDetails {
  padding: 100px;
  display: grid;
  justify-content: center;
}

.trackDetails_img {
  border-radius: 10px;
}
