.trackDetails {
  list-style: none;
  display: grid;
  grid-template: 1.6em 1.6em / 3.2em 1fr;
  grid-template-areas:
    "img title"
    "img artist";
  grid-column-gap: 15px;
  align-items: center;
}

.detimg {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.dettitle {
  grid-area: title;
}

.detartist {
  grid-area: artist;
  color: var(--secondary-text);
}

.trackItem .dettitle {
  align-self: end;
}

.trackItem .detartist {
  align-self: start;
}
